@import './base/variables';
@import './base/mixins';

@import './modules/modules';

body {
  height: 480px;
}
.global {
  .blue-bg {
    background-color: $blue;
  }
  .green-bg {
    background-color: darken($green, 5%);
  }
}
.main {
  min-height: 500px;
  background-color: white;
  color: black;
  position: relative;
  font-size: 1.75em;
  text-align: center;
  @include phone {
    font-size: 1.25em;
  }
  .section-heading {
    margin-bottom: .5em;
    color: $blue-dark;
    font-size: 2em;
    font-weight: 300;
  }
}
.home {
  #logo {
    width: 65%;
    margin: 1em auto;
  }
  #subtitle {
    font-size: 1.4em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 200;
  }
  .btn {
    font-size: 1.5em;
  }
  .note {
    background-color: lighten($orange-lighter, 3%);
    margin-top: 2em;
    margin-bottom: 1em;
    padding: .75em 1.25em;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: .7em;
    line-height: 1.6em;
    font-weight: 200;
  }
}
