@import './base/variables';
@import './base/mixins';

@import './modules/header';
@import './modules/footer';

.global {

}
.main {
  min-height: 500px;
  background-color: $light-bg;
  color: $dark-text;
  position: relative;
  font-size: 1.75em;
  text-align: center;

  .box {
    padding: .5em;
  }
}
