@import './base/variables';
@import './base/mixins';

@import './modules/header';
@import './modules/nav';
@import './modules/footer';
@import './modules/layout';

.global {

}
.main {
  min-height: 520px;
  background-color: $bg-light;
  color: $text-dark;
  position: relative;
  font-size: 1.75em;
  text-align: center;

}
.home {
  #title {
    font-size: 2.75em;
    margin: .5em 0;
  }
  #subtitle {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
  }
  .btn {
    font-size: 1.5em;
  }
}
