/* Colors */
$text-dark: #010203;
$text-light:#fffefd;

$bg-light: #fffcf8;
$bg-header: #67a1e5;
$bg-footer: #232d4a;
$border-dark: #427dc1;
/* Layout */

/* Responsive */
$tablet-width: 576px;
$desktop-width: 1024px;
