/* Colors */
$blue: #1079C4;
$blue-light: #589AC9;
$blue-lighter: #AEC1CF;
$blue-lightest: #DEF1FF;
$blue-dark: #054C7E;
$blue-darker: #012945;

$orange: #FF4906;
$orange-light: #FF8F65;
$orange-lighter: #FFE5DB;
$orange-dark: #C43500;
$orange-darker: #6B1D00;

$yellow: #FFBF06;
$yellow-light: #FFD865;
$yellow-lighter: #FFF6DB;
$yellow-lightest: #FFFCF2;
$yellow-dark: #C49200;
$yellow-darker: #6B5000;

$green: #79C410;
$red: #E46940;

$transparent: rgba(0,0,0,0);
/* Layout */

$height-full: 440px;

/* Responsive */
$tablet-width: 576px;
$desktop-width: 1024px;
