.add {
  .form-label {
    width: 85%;
    margin: .5em auto;
    border-radius: 10px;
    color: white;
    padding: .25em .4em;
    font-size: 1.4em;
    font-weight: 100;
    @include phone {
      width: 90%;
    }
  }
  .diff-label {
    margin-right: 1em;
  }
  .add-radio {
    margin-right: .5em;
  }
  .answer-inputs {
    .answer-input-wrapper {
      padding: .35em 0;
      background-color: $transparent;
      transition: background-color .25s;
    }
    .selected {
      background-color: darken($green, 5%);
    }
    .answer-input-select {
      cursor: pointer;
      margin-right: .25em;
      color: black;
      transition: color .1s;
    }
    .fa-check-circle-o {
      color: lighten($green, 75%);
    }
  }
}
.confirm-add {
  .success-icon {
    font-size: 5.5em;
    color: $green;
  }
  button {
    font-size: 1em;
  }
}
