.add {
  .diff-label {
    margin-right: 1em;
  }
  .add-radio {
    margin-right: .5em;
  }
  .answer-input-select {
    cursor: pointer;
    margin-right: .25em;
  }
  .answer-input {
    margin-bottom: .35em;
  }
}
