.btn {
  width: 80%;
  @include phone {
    width: 100%;
  }
}
.btn-primary {
  background-color: $blue-dark;
  &:hover {
    background-color: darken($blue-dark, 8%);
  }
}
.btn-success {
  background-color: darken($green, 4%);
  &:hover {
    background-color: darken($green, 10%);
  }
}
