.categories {
  margin-bottom: 1em;
  .category-list {
    width: 90%;
    margin: auto;
  }
  .category {
    cursor: pointer;
    background-color: $transparent;
    border: 1px solid $transparent;
    transition: background-color .25s, border .25s;
    &:hover {
      background-color: $blue-lighter;
      border: 1px solid $orange-light;
    }
    @include desktop {
      &:nth-child(even) {
        text-align: right;
      }
    }  
  }
  .selected {
    background-color: $blue-dark;
    border: 1px solid $orange-lighter;
    color: white;
    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}
