.categories {
  .category {
    cursor: pointer;
    background-color: $transparent;
    transition: background-color .25s;
    &:hover {
      background-color: $blue-lighter;
    }
  }
  .selected {
    background-color: $blue-dark;
    color: white;
    &:hover {
      background-color: $blue-dark;
      color: white;
    }
  }
}
