.difficulties {
  margin-bottom: 2em;
  .difficulty-btns {
    width: 90%;
    margin: auto;
    font-size: 1.1em;
  }
  .difficulty {
    cursor: pointer;
    background-color: $transparent;
    border: 1px solid #bbb;
    border-radius: 8px;
    text-transform: capitalize;
    transition: background-color .25s, border .25s, color .25s;
    &:hover {
      border: 1px solid $blue-darker;
    }
    &.selected {
      color: #eee;
    }
  }
  .easy {
    &:hover {
      background-color: $green;
    }
    &.selected {
      background-color: darken($green, 5%);
    }
  }
  .medium {
    &:hover {
      background-color: $yellow;
    }
    &.selected {
      background-color: darken($yellow, 5%);
    }
  }
  .hard {
    &:hover {
      background-color: $red;
    }
    &.selected {
      background-color: darken($red, 5%);
    }
  }
}
