.difficulties {
  .difficulty {
    cursor: pointer;
    background-color: $transparent;
    border: 2px solid $transparent;
    border-radius: 4px;
    transition: background-color .25s, border .25s, color .25s;
    &:hover {
      border: 2px solid $blue-darker;
    }
    &.selected {
      color: #eee;
    }
  }
  .easy {
    &:hover {
      background-color: $green;
    }
    &.selected {
      background-color: darken($green, 5%);
    }
  }
  .medium {
    &:hover {
      background-color: $yellow;
    }
    &.selected {
      background-color: darken($yellow, 5%);
    }
  }
  .hard {
    &:hover {
      background-color: $red;
    }
    &.selected {
      background-color: darken($red, 5%);
    }
  }
}
