.header {
  min-height: 64px;
  max-height: 64px;
  background-color: $blue;
  color: white;
  border-bottom: 3px solid $blue-darker;
  font-size: 2.75em;
  @include phone {
    min-height: 48px;
    max-height: 48px;
    font-size: 2em;
  }
  #header-title {
    vertical-align: middle;
    margin-right: 2em;
    @include tablet {
      margin-right: 1em;
    }
    @include phone {
      margin-right: 1em;
    }
  }
}
