.nav {
  .nav-item {
    font-size: .7em;
    padding-top: .4em;
    a {
      padding: .25em 1.25em;
      border-radius: 6px;
      background-color: rgba(0,0,0,0);
      color: white;
      transition: background-color .3s, color .3s;
      &:hover, &:visited {
        background-color: $blue-dark;
        color: $yellow-lighter;
        text-decoration: none;
      }
      @include tablet {
        padding: .2em .8em;
      }
      @include phone {
        padding: .2em .6em;
      }
    }
    .fa-file {
      font-size: .8em;
    }
  }

}
