.nav {
  .nav-item {
    font-size: .65em;
    vertical-align: middle;
    a {
      padding: .05em 1em;
      border-radius: 4px;
      background-color: rgba(0,0,0,0);
      color: white;
      transition: background-color .3s, color .3s;
      &:hover, &:visited {
        background-color: $blue-dark;
        color: $yellow-lighter;
      }
      @include tablet {
        padding: 0 .7em;
      }
      @include phone {
        padding: 0 .4em;
      }
    }
    .fa-file {
      font-size: .8em;
    }
  }

}
