.setup {
  .section-subheading {
    width: 85%;
    margin: .5em auto;
    border-radius: 10px;
    color: white;
    padding: .25em .4em;
    font-size: 1.3em;
    font-weight: 100;
    @include phone {
      width: 90%;
    }
  }
  .confirm-setup {
    .categories-table {
      width: 85%;
      margin: auto;
    }
    .table-heading {
      margin-top: .3em;
    }
    .categories {
      height: 250px;
      overflow: scroll;
    }
    .start-quiz {
      margin-bottom: 1em;
      font-size: 1.2em;
    }
  }
}
